{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="{% static 'ap/signup.css' %}">
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <img src="logo.jpeg" class="logo">
            </div>
            <div id="links">
            <a href="{% url 'signin' %}">signin</a>
            <a href="{% url 'signup' %}">signup</a>
            </div>
        </div>
        <div class="form">
        <h2 align="center"> Signup</h2><hr>
        <form action="{% url 'signup' %}" method="post" align="center">
            {% csrf_token %}
            Username:<input type="text" placeholder="Enter Username" required name="username"><br><br>
            Password:<input type="password" placeholder="Enter password" required name="pass"><br><br>
            Firstname:<input type="text" placeholder="Enter first name" required name="fname"><br><br>
            Email:<input type="email" placeholder="Enter Email" required name="email"><br><br>
            Secondname:<input type="text" placeholder="Enter second name" required name="sname"><br><br>
            City:<input type="text" placeholder="Enter city " required name="city" value="Tirupathi"><br><br>
            <input type="submit">
        </form>
        <br>
        </div>
        
    </body>
</html>